.logo_1 {
    gap: 17rem;
}
.restaurant_title {
    justify-content: space-between;
    padding: 2rem 2rem;
    flex-wrap: wrap;
    flex-direction: row;
    bottom: -10px;
}
.menu_div {
    width: 100%;
}
.menu_title {
    display: flex;
    justify-content: center;
}
.icone_restaurants {
    display: flex;
    justify-content: center;
}
.div_plat {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    align-items: center;
}
.menu_epd {
    width: 100%;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.menu_plat {
    justify-content: flex-start;
    margin: 2rem 0rem;
    padding-left: 2rem;
}
.menu_plat::before {
    left: 33px;
}
.div_plat_1 {
    width: 90%;
    margin: 0rem 2rem;
}
.plat_description {
    font-size: small;
    white-space: unset;
    overflow: unset;
    text-overflow: unset;
    display: contents;
}
.plat_title {
    font-weight: bold;
    font-size: medium;
    overflow: unset;
    text-overflow: unset;
    white-space: unset;
}
.btn {
    width: 150px;
    height: 40px;
}    