.logo_1 {
    gap: 21rem;
}

.logo {
    width: 250px;
    padding: 1rem 0rem;
}
.restaurant_title {
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    padding: 2rem;
}
.div_plat {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    align-items: baseline;
}
.div_plat_1 {
    width: 90%;
    margin: 0rem 1rem;
}
.menu_epd {
    width: calc(33% - (2/3)*1rem);
}
.menu_plat {
    justify-content: flex-start;
    margin: 2rem 0rem;
}
.plat_title {
    font-weight: bold;
    font-size: medium;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-bottom: 5px;
}
.plat_description {
    font-size: small;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 1px;
    display: flow-root;
}

