.logo_1{
    display: flex;justify-content: center;
    box-shadow: 0px 2px 2px darkgrey;
}
.logo{
    width: 45%;
    padding: 1rem 0rem;
}
.localisation{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px 10px 10px 0px;
    background-color: #e5e5e5a8;
}
.loc_texte{
    font-weight: bold;  
}
main{
    margin: 0rem 1rem;
}
.d_1{
    margin-top: 2rem;
    text-align: center;
}
.t_1{
    font-family: 'Roboto'; font-size: x-large; font-weight: bold;
}
.p_1{
    margin-top: 1rem;
    font-family: 'Roboto';
}
.btn{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.btn_1{
    border-radius: 50px;
    border-color: white;
    padding: 10px 15px;
    background: linear-gradient(#FF79DA,#9356DC);
    font-family: 'Roboto';
}