.logo_1{
    display: flex;justify-content: center;
    box-shadow: 0px 2px 2px darkgrey;
}
.logo{
    width: 45%;
    padding: 1rem 0rem;
}
.localisation{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px 10px 10px 0px;
    background-color: #e5e5e5a8;
}
.loc_texte{
    font-weight: bold;  
}
main{
    margin: 0rem 1rem;
}
